*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    height: 100vh;
}
.interface{
    
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
h2.titulo{
    color: #FFF;
    font-size: 28px;
    text-align: center;
}
h2.titulo span{
    color: #2003ff;
}
/* cabeçalho estilo */
header{
   
    padding: 10px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    color: #666666;
    display: inline-block;
    transition: .2s;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0px 60px;
}

header a:hover{
    color: #FFF;
    transform: scale(1.05);
}
 .btn-contato button:hover{
    color: rgb(233, 233, 233);
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #2003ff;
    transition: .8s;
}
/* ESTILO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #FFF;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color: #2003ff;
}
.topo-do-site .txt-topo-site p{
    color: #FFF;
    text-align: justify;
    margin: 40px 0;
}
.topo-do-site .img-topo-site img{
    border-radius: 2222px;
    position: relative;
    animation: mexer 2s ease-in-out infinite alternate;
}

/* ESPECIALIDADES */

section.especialidades{
    padding: 40px 4%;

}
section.especialidades .flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    color: #FFF;
    transition: .2s;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 38px #b5b5b5;
}
.especialidades .especialidades-box i{
    font-size: 68px;
    color: #2003ff;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/*  ESTILO SOBRE */
section.sobre{
    padding: 40px 4%;
}
section.sobre .interface .flex .image-class-sobre img{
    border-radius: 100px;
    position: relative;
}
section.sobre .txt-sobre {
    color : #FFF;

}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
section.sobre .txt-sobre span{
    display: block;
    color: #2003ff;
}
section.sobre .txt-sobre h2{
    font-size:40px ;
    line-height: 40px;
    margin-bottom: 30px;
}
section.sobre .txt-sobre p{
    padding: 20px 0px;
    text-align: justify;
}
section.sobre .btn-social button{
    color: #f0f0f0;
    border: 0ch;
    background-color: #2003ff;
    padding: 10px 10%;
    margin: 0 30px;
    border-radius: 369px;
    font-size: 25px;
    
}
section.sobre .btn-social button:hover{
    box-shadow: 0 0 8px #666666;
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}
@media (max-width: 1450px) {
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }
    .flex{
        flex-direction: column;
    }
    .menu-desktop,.btn-contato{
        display: none;
    }
}
    

@keyframes mexer{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}